<h1><%= @list.name %></h1>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"> <%= bookmark.comment %> </li>
    <li class="list-group-item"> <%= bookmark.movie.title %></li>
  <% end %>
 </ul>
<%#
<%=link_to "go back", root_path %> %>

<%= link_to "Add bookmark", new_list_bookmark_path(@list, @bookmark)%>
